@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;800;900&display=swap');
body {
    background-color: rgb(213, 225, 239);
    margin: 0px;
    padding: 0px;
}
.conteinereverything {   
    background-color:rgb(255, 255, 255);
    width: 240px;
    height: 360px;
    margin-top: 20%;
    border-radius: 12px;
}
.qrcode {
    border-radius: 4%;
    width: 200px;
    height: 200px;
    margin: 20px;
}
.skill {
    font-family: 'Outfit', sans-serif;
    font-style: normal;
    text-align: center;
    font-size: 19px;
    margin-top:-10px;
}
.qrcodeabout {
    font-family: 'Outfit', sans-serif;
    font-style: normal;
    text-align: center;
    font-size: 10px;
    width: 220px;
    color: #7D889E;
}